/* Style on main div */

div.container{
    height:auto;
    width:800px;
    /* background-color: blue; */
    margin:100px auto;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    font-family:sans-serif;

}
/* Style on input text */
div.todolist{
    width:800px;
    height:200px;
    background:linear-gradient(to right,rgb(137, 193, 245),rgb(0, 132, 255),rgb(52, 141, 223));
    border-radius: 5px;
}
div>h1#title{
    color:white;
    text-align: center;
    padding-top: 30px;
}  
/* Style in todolist form */
form>input#task_input{
    width: 600px;
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
} 
form>input#task_submit{
    width:70px;
    height:30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    margin-left: 20px;
}
#task_submit:hover{
    color:white;
    background-color: gray;
}
div>h3{
    text-align: center;
    padding-top: 10px;
}
div>p{
    text-align: center;
    color:gray;
    font-size: 16px;
    padding-bottom: 20px;

}
/* Style on Todi list item */

ul{
    padding: 10px;
    position: relative;
}
ul>li{
    /* display: flex; */
    height:30px;
    width:750px;
    list-style-type: none;
    background-color: whitesmoke;
    gap:10px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px; 
    color:rgb(42, 36, 36); 
    font-family: sans-serif;
    position: relative;
    
}
.completed{
    text-decoration: line-through;
    color:black;
}

button{
    border:none ;
    float: right;
    display: inline-block;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}

/* Style on Update todo Popup menu */

div.popup_menu{
    width:800px;
    height:200px;
    background:gray;
    border-radius: 5px;
    /* margin:50px auto; */
    position: absolute;
    left:277px;
    top:310px;
    display: none;
}
div>h3#popup_title{
    color:white;
}
form>input#popupInput{
    display: flex;
    width: 700px;
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
}
form>input.action_btn{
    width:100px;
    height:30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    margin-left: 250px;
    margin-right: -200px;
    
}
.action_btn:hover{
    background-color: lightseagreen;
}